<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerzzz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <div id="wrapper">
        <h1 style="background-color: {{color2}}; color: {{color1}};">Checkerboard</h1>
        <div id="board_container">
            {% for x in range (rows)%}
            <div class="row">
                {% for i in range(columns) %}
                {% if (x+i) %2 == 0 %}
                <div class="checker" style="background-color: {{color1}};"></div>
                {%else %}
                <div class="checker" style="background-color: {{color2}};"></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>